.hero
  background-attachment fixed
  background linear-gradient(0deg, rgba(#000, .64), rgba(#00FFD4, 0)), url('../img/capa-madmax2.jpg')
  background-size cover
  background-position center
  background-repeat norepeat
  display flex
  flex-direction column
  justify-content space-between
  min-height 90vh
  padding 2.4rem 0
  width 100%
  > .wrapper
    container()

    > .title
      color white
      font-size 6.4rem
      font-weight 700
      line-height 124%
      max-width 96rem
      text-transform: uppercase
    > .genres
      align-items center
      display flex
      margin 1.6rem 0 0 0
      > .genre
        &:not(:last-of-type)
          margin: 0 1.6rem 0 0
        > .link
          color white
          display block
          font-size 1.4rem
          font-weight 300
          text-transform uppercase
          transition color 400ms ease-in-out
          width fit-content
          will-change color
          &:hover
            color color-urobilin
    > .cta
      background-color color-urobilin
      display block
      border-radius: 4rem
      color black
      font-size 1.6rem
      margin 3.2rem 0 0 0
      position relative
      padding 1.6rem 5.6rem 1.6rem 4rem
      transition background-color 400ms
      width fit-content
      will-change background-color
      > .icon
        position absolute
        right 16px
        top 50%
        transform translateY(-50%)
        &::before
          font-size 2rem
      &:hover
        background-color color-lemon-curry
    > .launch
      margin 3.2rem 0
      > .status, > .date
        font-size 1.4rem
        line-height 136%
      > .status
        color white
        margin 0 0 1rem 0
      > .date
        color color-urobilin